@import "./gnome-like.css";

#language {}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  color: @theme_text_color;
}

window#workspaces button {
  background-color: @surface0;
  color: @text;
}

window#workspaces button.empty {
  color: @overlay0;
}

window#workspaces button.visible {
  color: @blue;
}

window#workspaces button.active {
  color: #fff;
  background-color: #232323;
}

window#workspaces button.urgent {
  background-color: @red;
  border-radius: 1em;
  color: @text;
}

