*.session.vim
*.swp
*.swo
.DS_Store
.netrwhist
packer_compiled.lua

# Don't show new themes
home/.themes

# Don't show new local applications
home/Applications

# Git clones which are updated during install 
os/mac/home/.config/alacritty/themes/
