<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>NullVoxPopuli dotfiles</vendor>
  <vendor_url>https://github.com/NullVoxPopuli/dotfiles</vendor_url>

  <action id="org.nullvoxpopuli.kbd-internal-toggle">
    <description>Enable or disable the built-in keyboard</description>
    <message>Authentication is required to change the built-in keyboard state</message>
    <defaults>
      <!-- no prompt for whoever is physically sitting at this machine -->
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/kbd-internal-toggle</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
