"*":
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  linter:
    showErrorPanel: false
  "linter-rubocop": {}
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  welcome:
    showOnStartup: false
