'packages': [
  'aligner'
  'aligner-ruby'
  'aligner-scss',
  'atom-beautify'
  'atom-handlebars'
  'autoclose-html'
  'autocomplete-ruby'
  'blame'
  'change-case'
  'css-color-underline'
  'ex-mode'
  'file-icons'
  'git-history'
  'language-emblem'
  'language-handlebars'
  'language-javascript-jsx'
  'language-slim'
  'linter'
  'linter-jscs'
  'linter-rubocop'
  'linter-sass-lint'
  'linter-slim'
  'merge-conflicts'
  'rubocop-auto-correct'
  'scroll-percentage'
  'tree-view-git-status'
  'vim-mode'
]
