/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

@background-color: #191919;
@tab-bar-background-color: #111;
@tab-background-color: @tab-bar-background-color;
@tab-height: 2em;
@blue: #61afef;
@green: #98c379;
@magenta: #c678dd;
@line-number-color: #839496;

// hide scrollbars
body /deep/ ::-webkit-scrollbar {
  &-track, &-corner, &-thumb {
    display: none !important;
  }
}

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
  background-color: @background-color;

  .directory {
    .name {
      // color: #61afef;

      &:before {
        // color: #9da5b4
      }
      }
  }
  .file {
    .name {
      // color: #636d83;
    }
  }
}
atom-pane-resize-handle {
  // background-color: black;
  //
  // &.horizontal {
  //   border-left: 1px solid black;
  //   width: 8px !important;
  //   margin: 0 !important;
  // }
  // &.vertical {
  //   border-top: 1px solid black;
  //   height: 8px !important;
  //   margin: 0 !important;
  // }
  // // border-right: 1px solid black;
}
// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
  background-color: @background-color;

  &.vim-mode-plus {
    &:before {
      padding: 0 5px;
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
    &.insert-mode:before {
      content: 'insert';
      background: @blue;
    }
    &.normal-mode:before {
      content: 'normal';
      background: @green;
    }
    &.visual-mode:before {
      content: 'visual';
      background: @magenta;
    }
  }

  &.is-focused {
    // Because, why not?
    @keyframes slidebar {
      from {
        width: 0;
      }

      to {
        width: 100%;
      }
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 0px;
      // left: 0px;
      right: 0px;
      width: 0;;
      height: 1px;
      z-index: 1000;
      animation-name: slidebar;
      animation-duration: 0.5s;
      animation-timing-function: ease;;
    }

    &.insert-mode:after {
      background: @blue;
      width: 100%;
    }
    &.normal-mode:after {
      background: @green;
      width: 100%;
    }
    &.visual-mode:after {
      background: @magenta;
      width: 100%;
    }
  }
}



// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow .cursor {
  border-color: @blue;
}

// The cursor (blinks by default)
atom-text-editor::shadow .cursors .cursor {
}

atom-text-editor::shadow .trailing-whitespace {
  background-color: rgba(255, 0,0, 0.2);

  &.invisible-character {
    color: gray;
  }
}

// Thinner Line Gutter
.editor .gutter, atom-text-editor::shadow .gutter {
  .line-numbers {
    // width: 2em;
    min-width: 1em;
    font-size: 1em;
    overflow: hidden;
    border-left: 1px solid darken(@line-number-color, 40%);
    border-right: 1px solid darken(@line-number-color, 40%);
    .line-number {
      // width: 0px;
      color: @line-number-color;
    }
  }
}

// Thinner Tabs
.tab-bar {
  height: @tab-height;
  padding: 0;
  background-color: @tab-bar-background-color;

  .tab {
    // top: 2px; line-height: 25px;
    line-height: @tab-height;

    &.active {
      height: 2em;

      &:before {
        height: 2em;
      }
    }

    &:after {
      background-image: none;
    }

    &:before {
      width: .2em;
    }

    .close-icon {
      line-height: @tab-height;
    }

    .title {
      background-color: @tab-background-color;
    }
  }
}

atom-panel-container.footer {
  height: @tab-height;
}

// guides for folders
li.directory.entry.list-nested-item.collapsed.selected::before{
  border-left: 1px solid red;
}
li.directory.entry.list-nested-item.expanded.selected::before{
  border-left: 1px solid red;
}
.tree-view {
  li.directory.expanded .list-item, .list-tree {
    border-left: 1px dashed #323232;
  }
}
