# vim: set filetype=toml 
font_size = 36
width = 600  
height = 320
font = "~/.fonts/UbuntuNerdFont-Light.ttf"
corner_radius = "10"

bg_color = 0x222222ee
bg_border_color = 0x999999ee

[input_text]
padding = "10 10"
corner_radius = "10"

[list_items]
font_color = 0xf8f8f2ff
selected_font_color = 0xdd55ffff
hide_actions = true
item_spacing = 10


[icon]
size = 48
